# Changelog

{% for version in versions | sort(attribute="timestamp", reverse=true) %}
## [{{ version.tag_name }}]

{% if version.change_types.get('Added') %}
### Added
{% for commit in version.change_types['Added'] %}
- {{ commit.description }}
{% endfor %}
{% endif %}

{% if version.change_types.get('Fixed') %}
### Fixed
{% for commit in version.change_types['Fixed'] %}
- {{ commit.description }}
{% endfor %}
{% endif %}

{% if version.change_types.get('Internal') %}
### Internal
{% for commit in version.change_types['Internal'] %}
- {{ commit.description }}
{% endfor %}
{% endif %}

---
{% endfor %}